.profile {
    border-radius: 50%;
}
.table1 {
    border: solid rgb(89, 255, 0) 1px;
}
p {
    color: rgb(255, 255, 255);
}
.table2 {
    border: dashed rgb(255, 0, 4) 2px;
}
h3 {
    color: rgb(241, 255, 116);
}
body{
    background-color: #000000;
}